body {
    background: url("https://hdwallsource.com/img/2014/7/bokeh-background-32257-32996-hd-wallpapers.jpg");
    background-repeat: no-repeat;
}

div {
    background-color: #F96037;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    letter-spacing: 0.125em;
    font-size: 48px;
}

h2 {
    font-family: 'Cabin', cursive;
    text-align: center;
    color: #F71488;
}

p {
    font-family: 'Cabin', cursive;
    font-size: 20px;
    color: #F1EDED;
    padding-left: 10px;
}

.button {
    background-color: #F71488;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Abril Fatface', cursive;
    display: block;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

#quiz {
    display: none;
}